@page
@model PrivacyModel
@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<p>This app check if document's image was edited in Photoshop
</p>
<p>What I do:</p>
<ul>
    <li>Check if software meta tag contain information about any software. <br> 
        JPG files contains information about editors where they have been edited or created.
        <br/> I recommend to use only JPG for your document's scans</li>
    <li>Check if some parts of image vary greatly:
        <ul>
            <li>Cut your image on rectangles</li>
            <li>Calculate mean value of hue, saturation, lightness in every rectangle</li>
            <li>Find differences between them and show to you most suspected parts</li>
        </ul>
        I recommend you take a closer look on bordered parts of image.
    </li>
    <li>Use Error level analysis:
        <ul>
            <li>Compress your photo</li>
            <li>Visualize differences between original and compressed photo</li>
            <li>Calculate maximal value of difference</li>
            <li>
                In a magical way, you will see how bumps, blur marks and objects that were superimposed in Photoshop appear on the document</li>
        </ul>
    </li>
</ul>
